*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:"Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  font-family:"Inter", sans-serif;
}
/*=============== header start=============== */
.navbar{
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:20px 80px;
  background:#ffffff;
}
.navbar a{
  margin-left:20px;
  text-decoration:none;
  color:#000000;
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}
.btn{
  background:#1faa59;
  padding:8px 14px;
  border-radius:6px;
  color: #ffffff;
}
.btn:hover{
  background:#ff9e03;
  transform:translateY(-2px);
}
.navbar .btn_nav .btn{
  color: #ffffff;
}
/*=============== header end
=============== */
/* ===Banner Section start=== */
.hero_area{
  background-image: url(/assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  text-align: center;
}
.hero_area .btn_top{
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 20px;
}
.hero_area .btn_top a{
  text-decoration: none;
  color: #1faa59;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  font-family:"Inter", sans-serif;
}
.hero_area h2{
font-family:"Inter", sans-serif;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-align: center;
text-transform: capitalize;
padding-top: 16px;
color: #ffffff;
}
.hero_area h2 span{
color: #1faa59;
}
.hero_area p{
color: #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
font-family:"Inter", sans-serif;
padding-top: 16px;
}
.hero_area .btn_bottom{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  padding-top: 16px;
}
.hero_area .btn_bottom .btn-1{
  background-color: #1faa59;
  padding: 16px 30px;
  align-items: center;
  border-radius: 4px;
}
.hero_area .btn_bottom :hover{
  background:#ff9e03;
  transform:translateY(-2px);
}
.hero_area .btn_bottom .btn-1 a{
text-decoration: none;
font-family: "Inter", sans-serif;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
color: #ffffff;
}
/* ===Banner Section end=== */
/* ====Notes Section start =====*/
 .card_section{
  background-color: #FFFFFF;
  text-align: center;
  padding: 120px 0px;
 }
 .card_section .title_area h2{
    font-family: "Inter", sans-serif;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
 }
 .card_section .title_area p{
    font-family: "Inter", sans-serif;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 10px;
 }
 .card_section .card_area{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  gap: 16;
  padding: 24px;
  margin:10px;
 }
 .card_section .card_area .box_1{
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 70px 20px;
 }
 .card_section .card_area .box_1 span{
  width:60px;
  height:60px;
  background:#ff5b5b;
  color:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  margin:0 auto 16px;
  padding-bottom: 16px;
 }
 .card_section .card_area .box_1 span :hover{
  color:#000000;
  transform:translateY(-2px);
  
 }
 .card_section .card_area .box_1 h2{
font-family: "Inter", sans-serif;
font-style: Semi Bold;
color: #000;
font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: center;
text-transform: capitalize;
padding-bottom: 16px;
 }
 .card_section .card_area .box_1 p{
color: var(--#627382, rgba(98, 115, 130, 1));
font-family: "Inter", sans-serif;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
 }
/* ===Notes Section End=== */
/* === Second Brain Section start=== */
  .brain_section{
    background-color: #ffffff;
  }
  .brain_section .brain_area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 10%;
    gap: 10px;
  }
  .brain_section .brain_area .left_image img {
    width: 600px;
    height: 600px;
  }
  .brain_section .brain_area .right_area h3 {
    font-family: "Inter", sans-serif;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    color: #1faa59;
    padding-bottom: 10px;
  }
  .brain_section .brain_area .right_area h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 10px;
  }
  .brain_section .brain_area .right_area p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-bottom: 10px;
  }
  .brain_section .brain_area .right_area .cheak_point {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

/* === Second Brain Section End=== */
/* === Early Access Section start=== */
  .early_access{
    background-color: #FFFFFF;
  }
  .early_access .eary_area {
    background: rgba(251, 251, 251, 1);
    text-align: center;
    padding: 120px 0px;
  }
  .early_access .eary_area h2 {
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    padding-bottom: 10px;

  }
  .early_access .eary_area p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;

  }
  .early_access .eary_area div .btn_early { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 28px;
  background: #2fb26a;
  color: #fff;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 15px;
  }
  .early_access .eary_area div .btn_early  span img{ 
  line-height: 1;
  }
/* === Early Access Section End=== */
/* === Footer Section start=== */
  .footer_area{
    background-color: #001931;
    text-align: center;
    padding: 120px 0px;
  }
  .footer_area .container{
    display: flex;
    justify-content: space-between;
     padding: 40px 8%;
     border-bottom: 1px solid #ffffff;
  }
  .footer_area p{
    color: #FFFFFF;
    
  }
/* === Footer Section start End=== */




